NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=

NEXT_PUBLIC_SITE_URL=https://fyp-yuubin.vercel.app
RESEND_API_KEY=
EMAIL_FROM=Yuubin <letters@your-verified-domain.com>
CRON_SECRET=

NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=yuubin-nextjs
NEXT_PUBLIC_SENTRY_ENABLE_DEV=false
SENTRY_ENABLE_DEV=false
